*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}
html, body {
	height: 100%;
	background-color: black;
    font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 20px;
	cursor: default;
    -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
}

.text01::after  {
    content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101";
    font-size: 50px;
    color: green;
    font-weight: 500;
    letter-spacing: 10px;
    position: relative;
    right: 15px;
    z-index: 0;
    animation: text01 1.5s infinite;
}
.text10::after  {
    content: "0101010101010101010101010101010101010101110101010101010101001010010110100010100110";
    font-size: 50px;
    color: green;
    font-weight: 500;
    letter-spacing: 10px;
    position: relative;
    right: 15px;
    z-index: 0;
    animation: text10 2.5s infinite;
}
.text11::after  {
    content: "010101010100101010100110101001101010101001010101010101010100101010101010010101";
    font-size: 50px;
    color: green;
    font-weight: 500;
    letter-spacing: 10px;
    position: relative;
    right: 15px;
    z-index: 0;
    animation: text11 2s infinite;
}
.text101::after  {
    content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101";
    font-size: 50px;
    color: green;
    font-weight: 500;
    letter-spacing: 10px;
    position: relative;
    right: 15px;
    z-index: 0;
    animation: text101 1.5s infinite;
}
.text111::after  {
    content: "100100101111100101011101010101110101010110101010101010000110101111010010101010101001010101010101";
    font-size: 50px;
    color: green;
    font-weight: 500;
    letter-spacing: 10px;
    position: relative;
    right: 15px;
    z-index: 0;
    animation: text111 3s infinite;
}
h1 {
    position: absolute;
    z-index: 1;
    color: green;
    padding: 15px;
    background-color: black;
    font-size: 40px;
    letter-spacing: 5px;
    border: 4px green solid;
    text-align: center;
    top: 10%;
    right: 10%;
    animation: derg 15s infinite;
    animation-timing-function: steps(5, end);
    
}
@keyframes text01 {
    0% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
    33% { content: "010101010100101010100110101001101010101001010101010101010100101010101010010101" }
    66% { content: "100101010100101010101001001110100101010101010101010101010101001010100101010101010101" }   
    100% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
}
@keyframes text10 {
    0% { content: "0101010101010101010101010101010101010101110101010101010101001010010110100010100110"; }
    33% { content: "0101010101010101010101010101010101010101110101010101010101001010010110100010100110" }
    66% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101" }   
    100% { content: "0101010101010101010101010101010101010101110101010101010101001010010110100010100110"; }
}
@keyframes text11 {
    0% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
    33% { content: "010101010100101010100110101001101010101001010101010101010100101010101010010101" }
    66% { content: "100101010100101010101001001110100101010101010101010101010101001010100101010101010101" }   
    100% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
}
@keyframes text101 {
    0% { content: "001000010001000001000010000010001110001000101000010100001011000000101001010100001010100101010101"; }
    33% { content: "1110100011111011110111101010101111101111110010111101010110101011110010110101010110111011001101010" }
    66% { content: "000101011111001011100101010101001010101011001010101100010101010101010011001010101011010101010101010" }   
    100% { content: "001000010001000001000010000010001110001000101000010100001011000000101001010100001010100101010101"; }
}
@keyframes text111 {
    0% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
    33% { content: "010101010100101010100110101001101010101001010101010101010100101010101010010101" }
    66% { content: "100101010100101010101001001110100101010101010101010101010101001010100101010101010101" }   
    100% { content: "11110100110101010101010011010010101010101001010101010010101010010010101111010110101010101"; }
}
@keyframes derg {
    0% { top: 10%;
    right: 10%;  }
    25% { top: 50%;
        right: 30%;  }
    50% { top: 20%;
        right: 40%;  } 
    75% { top: 70%;
        right: 20%;}  
    100% { top: 10%;
        right: 10%; }
}